@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<migration_relacao_atual.Models.Cliente>

<h2>Lista de Clientes</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Cliente</th>
            <th>Nome</th>
            <th>Número da Carteira de Motorista</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.ClienteId</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Cnh.CarteiraMotoristaId</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Cliente" asp-action="Create" class="btn btn-primary">Novo Cliente</a>